body {
  min-width: 1200px;
  min-height: 3150px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  font-weight: normal;
  font-family: Cuprum;
}

.popular-goods-title,
.popular-producers-title,
.catalog-content-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.services-title,
.about-us-title,
.contacts-title,
.tool-desc-title {
  font-size: 30px;
  line-height: 24px;
}

/*Сетка главной страницы*/
.main-header {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 320px;
  margin: 0 auto;
  outline: 1px solid green;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
}

.header-top-block {
  width: 1200px;
  min-height: 40px;
  margin: 0;
  padding: 0 ;
  outline: 1px solid orange;
}

.header-middle-block {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  min-height: 160px;
  outline: 1px solid orange;
}

.header-middle-block-desc,
.header-middle-block-contacts,
.header-middle-block-registration {
  width: 300px;
  margin-right: 20px;
  outline: 1px solid green;
}

.header-middle-block-registration {
  margin: 0;
}

.main-navigation {
  width: 940px;
  min-height: 60px;
  margin-bottom: 60px;
  outline: 1px solid orange;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
}

.index-promo-block {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 940px;
  min-height: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
  outline: 1px solid orange;
}

.index-promo-block-left {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 620px;
  margin-right: 20px;
  outline: 1px solid green;
}

.index-promo-block-right {
  width: 300px;
  outline: 1px solid green;
}

.promo-block {
  width: 300px;
  min-height: 120px;
  margin-bottom: 20px;
  outline: 1px solid green;
}

.promo-block-title {
  margin: 0;
  padding: 0;
}

.materials {
  margin-right: 20px;
}

.index-slider {
  width: 620px;
  min-height: 260px;
  outline: 1px solid red;
}

.materials {

}

.tools {

}

.technics {

}

.discount {

}

.delivery {
  margin: 0;
}

.index-popular-goods,
.index-popular-producers {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  outline: 1px solid orange;
}

.popular-goods-title-block,
.popular-producers-title-block {
  display: flex;
  width: 940px;
  min-height: 90px;
  margin-bottom: 20px;
  outline: 1px solid green;
}

.item-card {
  width: 220px;
  min-height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  outline: 1px solid green;
}

.item-card:last-child {
  margin-right: 0;
}

.popular-producers-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-bottom: 90px;
}

.popular-producers-list a {
  width: 220px;
  min-height: 145px;
  margin-right: 20px;
  outline: 1px solid green;
}

.popular-producers-list a:nth-of-type(1),
.popular-producers-list a:nth-of-type(2),
.popular-producers-list a:nth-of-type(3),
.popular-producers-list a:nth-of-type(4) {
  margin-bottom: 20px;
}

.popular-producers-list a:nth-of-type(4n) {
  margin-right: 0;
}

.index-services {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  min-height: 520px;
  outline: 1px solid orange;
}

.services-title-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
  outline: 1px solid green;
}

.services-title {
  width: 940px;
  min-height: 33px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  outline: 1px solid red;
}

.services-title-block > p {
  width: 480px;
  min-height: 40px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  outline: 1px solid red;
}

.index-servises-menu {
  display: flex;
  width: 940px;
  min-height: 280px;
  outline: 1px solid green;
}

.services-list {
  align-self: flex-start;
  width: 240px;
  margin: 0;
  margin-top: 50px;
  margin-right: 80px;
  padding: 0;
  outline: 1px solid red;
}

.tab {
  display: flex;
  width: 620px;
  margin: 0;
  padding: 0;
  outline: 1px solid blue;
}

.services-text {
  width: 400px;
  outline: 1px solid red;
}

.index-about-us-block {
  display: flex;
  width: 940px;
  margin-top: 80px;
  outline: 1px solid orange;
}

.about-us {
  width: 540px;
  min-height: 370px;
  margin-right: 100px;
  outline: 1px solid green;
}

.about-us-title {
  margin: 0;
  padding: 0;
}

.contacts {
  width: 300px;
  min-height: 370px;
  outline: 1px solid green;
}

.contacts-title {
  margin: 0;
  padding: 0;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid green;
}

.footer-top-block {
  display: flex;
  width: 940px;
  min-height: 190px;
  outline: 1px solid orange;
}

.footer-top-block-left-part {
  width: 380px;
  margin-right: 10px;
  outline: 1px solid green;
}

.footer-top-block-right-part {
  width: 550px;
  outline: 1px solid green;
}

.footer-bottom-block {
  display: flex;
  width: 940px;
  min-height: 110px;
  outline: 1px solid orange;
}

.main-copyright {
  width: 300px;
  margin-right: 80px;
  outline: 1px solid green;
}

.socials {
  width: 240px;
  margin-right: 20px;
  outline: 1px solid green;
}

.main-feedback {
  width: 160px;
  outline: 1px solid green;
}

.main-developed {
  width: 140px;
  outline: 1px solid green;
}
